@using Domain.Enums
@using Domain.Models
@using Domain.Models.FamilyTree
@using Domain.Models.Person

@helper RenderTreeSection(FamilyTree tree)
{
    <li>
        <a href="./Remove?Id=@tree.Root.Id" class='@(tree.Root.Sex == Sex.Male ? "m" : "f")' rel="content">
            <div class="tree-thumbnail"></div>
            <div class="tree-detail">@tree.Root.Name<br>@tree.Root.Surname</div>
        </a>
    </li>
}

@helper RenderTree(FamilyTree tree)
{
    @RenderTreeRootSection(tree.Root)
    @RenderTreePartnerSection(tree, tree.Root)
    if (tree.GetChildren(tree.Root)?.Count > 0)
    {
        <ul class="c">
            @foreach (var child in tree.GetChildren(tree.Root))
            {
                <li>
                    @RenderChildTree(tree, child)
                </li>
            }
        </ul>
    }
}

@helper RenderChildTree(FamilyTree tree, Person person)
{
    @RenderTreeRootSection(person)
    @RenderTreePartnerSection(tree, person)
    if (tree.GetChildren(person)?.Count > 0)
    {
        <ul class="c">
            @foreach (var child in tree.GetChildren(person))
            {
                <li>
                    @RenderChildTree(tree, child)
                </li>
            }
        </ul>
    }
}

@helper RenderTreeRootSection(Person person)
{
    <a href="./Edit?Id=@person.Id" class='@( person.Sex == Sex.Male ? "m" : "f")' rel="content">
        <div class="tree-add-member"><span></span></div>
        <div class="tree-thumbnail"></div>
        <div class="tree-detail">@person.Name<br>@person.Surname</div>
    </a>
}

@helper RenderTreePartnerSection(FamilyTree tree, Person person)
{
    if (person.Partner != null)
    {
        <div class="p1">
            <a href="./Edit?Id=@person.Id" class='@(person.Partner.Sex == Sex.Male ? "m" : "f")' rel="content">
                <div class="tree-add-member"></div>
                <div class="tree-thumbnail"></div>
                <div class="tree-detail">@person.Partner.Name<br>@person.Partner.Surname</div>
            </a>
        </div>
    }
    else if (tree.GetChildren(person)?.Count > 0)
    {
        <div class="p1">
            <a href="./Edit?Id=@person.Id" class='@(person.Sex == Sex.Male ? "f" : "m")' rel="content">
                <div class="tree-add-member"></div>
                <div class="tree-thumbnail"></div>
                <div class="tree-detail">Dodaj<br>partnera
                </div>
            </a>
        </div>
    }
}