@using Domain.Enums
@using Domain.Models
@using Domain.Models.FamilyTree
@using Domain.Models.Person

@helper RenderTreeSection(FamilyTree tree)
{
    <li>
        <a href="./Remove?Id=@tree.Root.Id" class='@(tree.Root.Sex == Sex.Male ? "m" : "f")' rel="content">
            <div class="tree-thumbnail"></div>
            <div class="tree-detail">@tree.Root.Name<br>@tree.Root.Surname</div>
        </a>
    </li>
}

@helper RenderTree(FamilyTree tree)
{
    @RenderTreeRootSection(tree.Root)
    <div class="p1">
        @RenderTreePartnerSection(tree.Root)
        <ul class="c">
            @foreach (var child in tree.GetChildren(tree.Root))
            {
                <li>
                    @RenderChildTree(tree, child)
                </li>
            }
        </ul>
    </div>
}

@helper RenderChildTree(FamilyTree tree, Person person)
{
    @RenderTreeRootSection(person)
    <div class="p1">
        @RenderTreePartnerSection(person)
        <ul class="c">
            @foreach (var child in tree.GetChildren(person))
            {
                <li>
                    @RenderChildTree(tree, child)
                </li>
            }
        </ul>
    </div>
}

@helper RenderTreeRootSection(Person person)
{
        <a href="./Remove?Id=@person.Id" class='@( person.Sex == Sex.Male ? "m" : "f")' rel="content">
            <div class="tree-add-member"><span></span></div>
            <div class="tree-thumbnail"></div>
            <div class="tree-detail">@person.Name<br>@person.Surname</div>
        </a>
}

@helper RenderTreePartnerSection(Person person)
{
    if (person.Partner != null)
    {
        <a href="./Remove?Id=@person.Id" class='@(person.Partner.Sex == Sex.Male ? "m" : "f")' rel="content">
            <div class="tree-add-member"></div>
            <div class="tree-thumbnail"></div>
            <div class="tree-detail">@person.Partner.Name<br>@person.Partner.Surname</div>
        </a>
    }
    else
    {
        <a href="./Remove?Id=@person.Id" class='@(person.Sex == Sex.Male ? "f" : "m")' rel="content">
            <div class="tree-add-member"></div>
            <div class="tree-thumbnail"></div>
            <div class="tree-detail">
                Placeholder<br>Person<span></span>
            </div>
        </a>
    }
}